---
import Layout from "../../layouts/Layout.astro";
import BackgroundEffects2 from "../../components/events/BackgroundEffects2.astro";
import { getCollection } from "astro:content";
import BtnBuy from "../../components/events/BtnBuy";


export async function getStaticPaths() {

    const events = await getCollection("events")

    return events.map(

        (event) => ({
            params: { id: event.slug },
            props: event
        })
    )

}

const infoEvent = Astro.props
const { data } = infoEvent;
// console.log(infoEvent)

---


<Layout>
    <BackgroundEffects2>
        <div class="container-info-event">
            <div class="box-logo">
                <img class="logo" src="/logos/WhiteLogo.png" alt="Logo">
            </div>
            <div class="box-info">
                <div class="img-flyer">
                    <img src={`/events/${data.img}`} alt={infoEvent.slug}>
                </div>
                <div class="info">
                    <h1>{data.titulo}</h1>
                    <dir class="box-place-date">
                        <h5>{data.lugar}</h5>
                        <h5>{data.fecha}</h5>
                    </dir>
                    <div class="box-description">
                        <p>
                            {infoEvent.body}
                        </p>
                    </div>
                </div>
                <div>
                    <BtnBuy>Comprar Ticket</BtnBuy>
                </div>
            </div>
        </div>
    </BackgroundEffects2>
</Layout>


<style>

    h1 {
        color: #fff;
        font-size: 60px;
        background-color: transparent;
        z-index: 15;
    }
    .box-logo {
        margin-top: 10px;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }

    .logo {
        max-width: 60%;
    }
    .box-info {
        background: transparent;

        /* padding: 10px; */
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 380px;

        padding: 10px;
        margin: 20px 20px 0 20px;
        border: 4px solid #0FF0FC;
        border-radius: 15px;

    }
    .img-flyer {

        

        width: 45%;

    }
    .img-flyer img {
        
        width: 300px;
        height: 380px;
        object-fit: cover;

    }
    .info {
        width: 100%;
    }

    .info h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }

    .box-place-date {
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    .box-description {
        color: #fff;
        margin-left: 10px;
        text-align: justify;
    }



</style>