---
import Layout from "../../layouts/Layout.astro";
import BackgroundEffects2 from "../../components/events/BackgroundEffects2.astro";
import { getCollection } from "astro:content";
import BtnBuy from "../../components/events/BtnBuy";
import BtnReturn from "../../components/events/BtnReturn.astro";



export async function getStaticPaths() {

    const events = await getCollection("events")

    return events.map(

        (event) => ({
            params: { id: event.slug },
            props: event
        })
    )

}

const infoEvent = Astro.props
const { data } = infoEvent;


---


<Layout>
    <BackgroundEffects2>
        <div class="container-info-event">
            <BtnReturn></BtnReturn>
            <div class="box-logo">
                <img class="logo" src="/logos/WhiteLogo.png" alt="Logo">
            </div>
            <div class="box-info">
                <div class="img-flyer">
                    <img src={`/events/PostEvents/${data.img}`} alt={infoEvent.slug}>
                </div>
                <div class="info">
                    <h1>{data.titulo}</h1>
                    <dir class="box-place-date">
                        <h5>Lugar: {data.lugar}</h5>
                        <h5>Fecha: {data.fecha}</h5>
                    </dir>
                    <div class="box-description">
                        <p>
                            {infoEvent.body}
                        </p>
                    </div>
                    <div class="box-btn-buy">
                        <BtnBuy>Comprar Ticket</BtnBuy>
                    </div>

                </div>
            </div>
        </div>
    </BackgroundEffects2>
</Layout>


<style>

    h1 {
        color: #fff;
        font-size: 60px;
        background-color: transparent;
        z-index: 15;
    }
    .box-logo {
        margin-top: 10px;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }

    .logo {
        max-width: 60%;
    }
    .box-info {
        background: transparent;
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%
        padding: 20px;
        margin: 20px;
        border: 4px solid #0FF0FC;
        border-radius: 15px;
    }

    .img-flyer {


        width: 45%;

    }
    .img-flyer img {
        
        width: 300px;
        height: 380px;
        object-fit: fill;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        margin: 15px;

    }
    .info {
     
        width: 90%;
        padding: 10px;
        
    }

    .info h1 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        text-decoration: underline;
    }

    .box-place-date {
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-size: larger;
    }

    .box-description {
        color: #fff;

        text-align: justify;
    }


    .box-btn-buy {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
@media (min-width:300px) AND (max-width: 350px) {

    .box-info {
        padding: 0px;
        margin: 0px;
    }
    .img-flyer img {
        width: 220px;
        padding: 0;
    }
}

@media (min-width:351px) AND (max-width: 400px) {

    .box-info {
        padding: 0px;
        margin: 0px;
    }
    .img-flyer img {
        width: 260px;
        padding: 0;
    }
}

    @media (max-width: 750px) {

    .box-info {
        background: transparent;
        display: grid;
        grid-template-columns: 1fr;
        height: 100%
        padding: 20px;
        margin: 20px;
        border: 4px solid #0FF0FC;
        border-radius: 15px;
    }

    .img-flyer {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

        .box-btn-buy {
        margin: 20px 0 20px 0;

    }

    .box-description {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info {
        margin-left: 10px;
    }

    }

    



</style>