---
const { img1, img2, logo, slug } = Astro.props



import Aliaga1 from "../../assets/roster/aliaga1.jpg"
import Aliaga2 from "../../assets/roster/aliaga2.jpg"
import AliagaLogo from "../../assets/roster/aliagalogo.png"


import Huncho1 from "../../assets/roster/huncho1.jpg"
import Huncho2 from "../../assets/roster/huncho2.jpg"
import HunchoLogo from "../../assets/roster/hunchologo.png"

import Rapetti1 from "../../assets/roster/rapetti1.jpg"
import Rapetti2 from "../../assets/roster/rapetti2.jpg"
import RapettiLogo from "../../assets/roster/rapettilogo.png"

import Atmoz1 from "../../assets/roster/atmoz1.jpg"
import Atmoz2 from "../../assets/roster/atmoz2.jpg"
import AtmozLogo from "../../assets/roster/atmozlogo.png"

import Xoa1 from "../../assets/roster/xoa1.jpg"
import Xoa2 from "../../assets/roster/xoa2.jpg"
import XoaLogo from "../../assets/roster/xoalogo.png"

let finalImg1:any;
let finalImg2:any;
let finalLogo:any;

switch(img1) {

    case "aliaga1": 
      finalImg1 = Aliaga1.src; 
    break;

    case "rapetti1": 
      finalImg1 = Rapetti1.src; 
    break;

    case "huncho1": 
      finalImg1 = Huncho1.src; 
    break;

    case "atmoz1": 
      finalImg1 = Atmoz1.src; 
    break;

    case "xoa1": 
      finalImg1 = Xoa1.src; 
    break;
}

switch(img2) {

    case "aliaga2": 
        finalImg2 = Aliaga2.src; 
    break;
    
    case "rapetti2": 
        finalImg2 = Rapetti2.src; 
    break;

    case "huncho2": 
        finalImg2 = Huncho2.src; 
    break;

    case "atmoz2": 
        finalImg2 = Atmoz2.src; 
    break;

    case "xoa2": 
        finalImg2 = Xoa2.src; 
    break;
}

switch(logo) {

    case "aliagalogo": 
        finalLogo = AliagaLogo.src; 
    break;

    case "rapettilogo": 
      finalLogo = RapettiLogo.src; 
    break;

    case "hunchologo": 
      finalLogo = HunchoLogo.src; 
    break;

    case "atmozlogo": 
      finalLogo = AtmozLogo.src; 
    break;

    case "xoalogo": 
      finalLogo = XoaLogo.src; 
    break;
}


---

<a href={`/info-roster/${slug}`}>
  <div class="card">
    <div class="wrapper">
      <img src={finalImg1} class="cover-image" />
    </div>
    <img
      transition:name= {`logo-${slug}`} 
      src={finalLogo} class={`title ${logo}`} 
    />
    <img
      transition:name= {`img2-${slug}`} 
      src={finalImg2} class="character" 
    />
  </div>
</a>


<style>
    :root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
    }

    .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 100px 0px;
    }

    .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    }

    .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    }

    .wrapper::before,
    .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    }
    .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
    }
    .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
    }

    .card:hover .wrapper::before,
    .wrapper::after {
      opacity: 1;
    }

    .card:hover .wrapper::after {
      height: 120px;
    }
    .title {
      width: 100%;
      transition: transform 0.5s;
      cursor: pointer;
    }


    .card:hover .title {
      transform: translate3d(0%, -50px, 100px);
    }
    .card:hover .title {
      transform: translate3d(0%, -50px, 100px);
    }

    .title.aliagalogo {
      transform: translateY(-50px);
    }

    .title.xoalogo {
      transform: translateY(-10px);
    }

    .card:hover .title.xoalogo {
      transform: translateY(-60px);
    }

    .card:hover .title.aliagalogo {
      transform: translate3d(0%, -100px, 100px) scale(1.2);
    }

    .title.rapettilogo {
      transform: translateY(50px);
    }

    .title.hunchologo {

      transform: scale(1.3) translateY(60px);
    } 
    .card:hover .title.hunchologo {
      transform: scale(1.5);
    } 


    .character {
      width: 100%;
      height: 400px;
      opacity: 0;
      transition: all 0.5s;
      position: absolute;
      z-index: -1;
    }

    .card:hover .character {
      opacity: 1;
      transform: translate3d(0%, -15%, 100px);
      /* transition: all .3s ease-in; */
      border: 3px #328f94 solid;
-webkit-box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.7); 
box-shadow: 0px 0px 8px 8px rgba(255,255,255,0.7);
cursor: pointer;
    }

    @media (max-width:350px) {

      .card:first-child {

      }

      .card {
        margin: 100px 0;
      }
    }

    @media (min-width:900px) {
      .card {
        margin: 100px 25px;
      }
    }

</style>