---
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import BackgroundEfects4 from "../../components/roster/BackgroundEffects4.astro"
import logo from "../../assets/events/logo.png";

import Aliaga2 from "../../assets/roster/aliaga2.jpg"
import AliagaLogo from "../../assets/roster/aliagalogo.png"

import NazaRv2 from "../../assets/roster/nazarv2.jpg"
import NazaRvLogo from "../../assets/roster/nazarvlogo.png"

import Huncho2 from "../../assets/roster/huncho2.jpg"
import HunchoLogo from "../../assets/roster/hunchologo.png"

import Rapetti2 from "../../assets/roster/rapetti2.jpg"
import RapettiLogo from "../../assets/roster/rapettilogo.png"

import Atmoz2 from "../../assets/roster/atmoz2.jpg"
import AtmozLogo from "../../assets/roster/atmozlogo.png"

import BtnReturn from '../../components/roster/BtnReturn.astro';

import BtnSocialMedia from '../../components/roster/BtnSocialMedia.astro';

export async function getStaticPaths() {

    const rosters = await getCollection("roster")

    return rosters.map(

        (roster) => ({
            params: { id: roster.slug },
            props: roster
        })
    )

}

const infoRoster = Astro.props

const { Content } = await render(Astro.props); // REnderiza el contenido de los archivos Markdown
const { data } = infoRoster;





let imagen:any;
let logoDj: any;
let socialMedia:any;

switch(infoRoster.slug) {

    case "roster-1": 
        imagen = Aliaga2;
        logoDj = AliagaLogo;
        socialMedia = {
            instagram: data.instagram,
            youtube: null,
            spotify: null,
            soundcloud: data.soundcloud,
            tiktok: data.tiktok
        }
        break;

    case "roster-2": 
        imagen = NazaRv2; 
        logoDj = NazaRvLogo;
        socialMedia = {
            instagram: data.instagram,
            youtube: data.youtube,
            spotify: data.spotify,
            soundcloud: data.soundcloud,
            tiktok: data.tiktok
        }
        break;

    case "roster-3": 
        imagen = Rapetti2; 
        logoDj = RapettiLogo;
        socialMedia = {
            instagram: data.instagram,
            youtube: data.youtube,
            spotify: null,
            soundcloud: null,
            tiktok: data.tiktok
        }
        break;

    case "roster-4": 
        imagen = Huncho2;
        logoDj = HunchoLogo;
        socialMedia = {
            instagram: data.instagram,
            spotify: data.spotify,
            tiktok: data.tiktok,
            soundcloud: null,
            youtube: null
        }
        break;

    case "roster-5": 
        imagen = Atmoz2; 
        logoDj = AtmozLogo;
        socialMedia = {
            instagram: data.instagram,
            youtube: data.youtube,
            spotify: data.instagram,
            soundcloud: null,
            tiktok: null
        }
        break;



}
---

<Layout>
    <BackgroundEfects4>
        <div class="container-info-roster">
            <BtnReturn></BtnReturn>
            <div class="box-logo">
                <img class="logo" src={logo.src} alt="Logo">
            </div>
            <div class="box-info">
                <div class="img-flyer">
                    <img 
                        src={imagen.src} alt={infoRoster.slug}
                        transition:name= {`img2-${infoRoster.slug}`} 
                    >
                </div>
                <div class="info">
                    <div class="box-logo-dj">
                        <img class={`logo-dj ${data.logo}`}
                            src={logoDj.src}
                            transition:name= {`logo-${infoRoster.slug}`}
                        >
                    </div>

                    <dir class="box-profesion">
                        <h5>Profesion: {data.profesion}</h5>
                        <h5>Genero: {data.genero}</h5>
                    </dir>
                    <div class="box-description">
                        <Content></Content>
                    </div>
                    <div class="box-social-media">
                        <div class="group-btns">
                            {
                                socialMedia.instagram != null && (
                                <BtnSocialMedia
                                    socialMedia="instagram"
                                    link={socialMedia.instagram}
                                />
                               )
                            }
                            {
                                socialMedia.spotify != null && (
                                    <BtnSocialMedia
                                        socialMedia="youtube"
                                        link={socialMedia.youtube}
                                    />
                                )
                            }
                            {
                                socialMedia.youtube != null && (
                                    <BtnSocialMedia
                                        socialMedia="spotify"
                                        link={socialMedia.spotify}
                                    />
                                )
                            }
                            {
                                socialMedia.soundcloud != null && (
                                    <BtnSocialMedia
                                        socialMedia="soundcloud"
                                        link={socialMedia.soundcloud}
                                    />
                                )
                            }
                            {
                                socialMedia.tiktok != null && (
                                    <BtnSocialMedia
                                        socialMedia="tiktok"
                                        link={socialMedia.tiktok}
                                    />
                                )
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </BackgroundEfects4>
</Layout>


<style>
    
    .box-logo {
        margin-top: 10px;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }

    .logo {
        max-width: 60%;
    }

    .box-info {
        background: transparent;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%
        border: 4px solid #0FF0FC;
        border-radius: 15px;
        
    }

    .box-logo-dj {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .logo-dj {
        height: 150px;

    }

    .aliagalogo {

        width: 450px;

    }

    .img-flyer {

        margin: auto 0 auto 15px;
        width: 45%;

    }
    .img-flyer img {
        
        width: 300px;
        height: 380px;
        object-fit: fill;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        margin: 15px;

    }
    .info {
     
        width: 90%;
        padding: 10px;
        
    }


    .box-profesion {
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-size: larger;
    }

    .box-profesion h5 {
        font-family: "Neo-latina" ,sans-serif;
        font-size: 20px;
        display: block;
    }

    .box-description {
        color: #fff;
        width: 100%;
        text-align: justify;
        font-family: "Cocogoose" ,sans-serif;
        font-size: 15px;

    }
    
    p strong {
        font-family: sans-serif !important;
    }

    .nazarvlogo {
        transform: scale(2);
    }
    .group-btns {
        display: contents;
        

    }


    
@media (min-width:300px) AND (max-width: 350px) {

    .box-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        width: 85%;
    }

    .img-flyer {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .img-flyer img {

        width: 200px;
        padding: 0;

    }
    .box-profesion {
        flex-direction: column;
        justify-content: center;
        align-items: left;
        transform: translateX(-20px);
    }

    .box-description {
        margin-left: -8px;
    } 

    .aliagalogo {
        width: 220px;
        height: 70px;
        transform: scale(.8);
    }

    .nazarvlogo {
        transform: scale(1.2);
    }

    .rapettilogo {
        transform: scale(1.5);
    }

    .hunchologo {
        transform: scale(1.7);
    }

    .atmozlogo {
        transform: scale(1, .6);
        width: 200px;
    }

    .group-btns {
        transform: scale(.7);
        display: contents;
 
    }


}

@media (min-width:351px) AND (max-width: 400px) {

    .box-info {
        padding: 0px !important;
        margin: 0px 0px 0px 5px !important;
    }
    .img-flyer img {
        width: 260px;
        padding: 0;
    }
        .box-profesion {
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;

    }
    .box-profesion h5 {
        width: 100%;
        text-align: center;
    }
    .aliagalogo {
        width: 255px;
        height: 75px;
        transform: scale(.9);
    }

    .nazarvlogo {
        transform: scale(1.3);
    }

    .rapettilogo {
        transform: scale(1.5);
    }

    .hunchologo {
        transform: scale(1.8);
    }

    .atmozlogo {
        transform: scale(1, .7);
        width: 200px;
    }
}   
    @media (min-width:401px) AND (max-width: 500px) {
        .box-info {
            padding: 0px !important;
            margin: 0px 0px 0px 5px !important;

        }
        .img-flyer img {
            width: 300px;
            padding: 0;
        }
        .box-profesion {
            flex-direction: column;
            justify-content: center;
            width: 90%;
            align-items: center;

        }

        .aliagalogo {
            width: 314px;
            height: 85px;
            transform: scale(.9);
        }   

        .nazarvlogo {
            transform: scale(1.3);
        }

        .rapettilogo {
            transform: scale(1.7);
        }

        .hunchologo {
            transform: scale(2);
        }

        .atmozlogo {
            transform: scale(1, .7);
            width: 200px;
        }
    }

    @media (min-width:501px) AND (max-width: 600px) {
        .box-info {
            padding: 0px !important;
            margin: 0px 0px 0px 10px !important;

        }
        .img-flyer img {
            width: 400px;
            padding: 0;
        }
        .box-profesion {
            justify-content: center;
            width: 90%;
            align-items: center;
            gap: 15px;

        }

        .aliagalogo {
            width: 320px;
            height:85px;
            transform: scale(1);
        }

        .nazarvlogo {
            transform: scale(1.5);
        }

        .rapettilogo {
            transform: scale(2);
        }

        .hunchologo {
            transform: scale(2.2);
        }

        .atmozlogo {
            transform: scale(1.2, .8);
            width: 200px;
        }
    }

    @media (min-width:601px) AND (max-width: 750px) {
        .box-info {
            padding: 0px !important;
            margin: 0px 0px 0px 10px !important;

        }
        .img-flyer img {
            width: 350px;
            padding: 0;
        }
        .box-profesion {
            justify-content: space-between;
            width: 90%;
            align-items: center;

        }

        .aliagalogo {
            width: 394px;
            height: 95px;
            transform: scale(.9);
        }
        .rapettilogo {
            transform: scale(2.3);
        }

        .hunchologo {
            transform: scale(2.4);
        }

        .atmozlogo {
            transform: scale(1.2, .8);
            width: 200px;
        }
    }

    @media (max-width: 750px) {

        .box-info {
            background: transparent;
            display: grid;
            grid-template-columns: 1fr;
            height: 100%
            padding: 20px;
            margin: 20px;
            border: 4px solid #0FF0FC;
            border-radius: 15px;
        }

        .img-flyer {
            display: flex;
            width: 92%;
            justify-content: center;
            align-items: center;
        }

            .box-btn-buy {
            margin: 20px 0 20px 0;

        }

        .box-description {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .info {
            margin-left: 10px;
        }
        .box-social-media {
            margin: 15px 0 15px 0;
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media (min-width: 751px) {
        .box-info { 
            border: 4px solid #0FF0FC !important;
            margin: 20px;
        }
        
        .logo-dj {
            max-width: 80%;
        }

        .box-description p {
            width: 100%;
        }

        .box-profesion {
            gap: 15px;
        }

                .aliagalogo {
            width: 394px;
            height: 95px;
            transform: scale(.9);
        }
        
        .rapettilogo {
            transform: scale(2.7);
        }

        .hunchologo {
            transform: scale(2.8);
        }

        .atmozlogo {
            transform: scale(1.2, .8);
            width: 200px;
        }

        .box-social-media {
            margin: 25px 0 15px 0;
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
        }
    }
    @media (min-width: 750px) AND (max-width: 850px){
        .aliagalogo {
            transform: scaleX(1.2);
        }
    }
    @media (min-width:1020px) {
        
        .box-btn-buy {
            margin-top: 45px;
        }

        .box-info {
            margin-top: 50px;
        }

    }



    



</style>